#java
*.class
/classes

#package file
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#Intellij idea
.idea/
/idea/
*.ids
*.iml
*.ipr
*.iws

#eclipse ignore
.classpath
.settings/
.project

# system ignore
.DS_Store
Thumbs.db

#maven ignore
build/
**/target

# temp file
*.log
**/logs/




