*.class
*.jar
*.war
*.ear
*.ids
*.iml
*.ipr
*.iws
!.gitignore
.classpath
.settings/
.project
.idea/
.DS_Store
.slcache/
/bin
/classes
/target

upload/
out/
logs/

target/
**/logs/
**/node_modules/
**/target